<html>

<head>
    <title>about</title>
     <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h2> {{aboutpg}} </h2>
    <img class="img" src="img/taymaa.jpg">
    </div>
    {{>footer}}

</body>

</html>