<html>

<head>
    <title>weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h2>
        {{indexpg}}
    </h2>
    <form>
        <input placeholder="adress">
        <button>submit</button>
    </form>
    <p id="parg1">
    </p>
    <p id="parg2">
    </p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>